<!-- <p>order-now works!</p> -->

<!-- <div class="row">

    <div class="col-6 offset-3 pt-3">
        <div class="card">
          <div class="card-header">
              <h4>Order Now</h4>
          </div>
          <div class="card-body">
              <form (ngSubmit)="submit()" [formGroup]="orderdata">
              <div class="form-group">
                  <select name="item" id="" class="form-control" formControlName="item">
                    <option value="">Select Item</option>
                    <option value="Pizza">Pizza</option>
                    <option value="Burger">Burger</option>
                    <option value="Samosa">Samosa</option>

                </select>
              </div>
              <div class="form-group">
                  <label for="">Customer Name</label>
                  <input type="text" class="form-control" formControlName="customer">
              </div>

              <div class="form-group">
                  <button class="btn btn-success">Place Order</button>
                  <button class="btn btn-danger">Cancel Order</button>
              </div>
            </form>
          </div>
        </div>
    </div>
</div> -->

<div class="row">
    <div class="col-6 offset-3 pt-3">
<div class="card">
<div class="card-header">
    <h4>order now</h4>
</div>
<div class="card-body">
    <form (ngSubmit)="submit()" [formGroup]= "orderdata">
    <div class="form-group">
        <select name="item" id="" class="form-control" formControlName="item">
            <option value="">select item</option>
            <option value="pizza">pizza</option>
            <option value="burger">burger</option>
            <option value="momos">momos</option>
            <option value="smosa">smosa</option>
            <option value="sweets">sweets</option>
            <option value="cake">cake</option>
            <option value="bakery">bakery</option>
            <option value="non-weg">non-weg</option>
        </select>
    </div>
    <div class="form-group">
        <label for="">Customer name</label>
        <input type="text" class="form-control" formControlName="customer">

    </div>
    <div class="form-group">
        <button class="btn btn-success">Place Order</button>
        <button class="btn btn-danger">cancel Order</button>
    </div>
</form>
</div>
</div>
    </div>
</div>

