<div class=" col-sm-12 col-md-12">
    <nav class="navbar navbar-expand-lg navbar-dark " >
      <div class="container-fluid">
        <a class="navbar-brand">
          <h1>Chetu</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" routerLink="/home">Home</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/employee-registration">Signup</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fixed-right" href="#" routerLink="/login">Login</a>
              </li> -->
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/order-menu">Food delivery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/blog">blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/order-menu">contact</a>
              
            </li>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" routerLink="/register"><span class="fa fa-sign-in" aria-hidden="true"></span > Sign Up</a></li>
                <li id="abc"><a href="#"  routerLink="/login"><span class="fa fa-user-circle-o" aria-hidden="true" ></span> Login</a></li>
              </ul>
    
    
          </ul>
    
        </div>
      </div>
    </nav>

<carousel [noPause]="true">
    <slide>
      <img src="assets/img/food1.jpg" alt="First slide" style="display: block; width: 100%; height:400px;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Welcome Chetu</h3>
        <p>Chetu is a US-based software development company providing businesses worldwide with tailored software solutions from industry specialized developers.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/img/food2.jpg" alt="Second slide" style="display: block; width: 100%; height:400px;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Welcome Chetu</h3>
        <p>Chetu is a US-based software development company providing businesses worldwide with tailored software solutions from industry specialized developers.</p>
      </div>
    </slide>
    <slide>
 
      <img src="assets/img/food3.jpg" alt="Third slide" style="display: block; width: 100%; height:400px;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Welcome Chetu</h3>
        <p>Chetu is a US-based software development company providing businesses worldwide with tailored software solutions from industry specialized developers..</p>
      </div>
    </slide>
  </carousel>
  <script>
 
  </script>

